

<Loading ng-show="isLoading == true"></Loading>


<div class="" ng-show="isLoading == false">
  <h4 class="card-title">Configuracion de Twitter</h4>
  <div class="form-group row">
    <label class="col-md-3 col-form-label">App id</label>
    <div class="col-md-9">
      <input type="text" name="regular" class="form-control" ng-model="twitternal.appid">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 col-form-label">Api Token</label>
    <div class="col-md-9">
      <input type="text" name="regular" class="form-control" ng-model="twitternal.token">
    </div>
  </div>

  <a class="btn btn-md btn-primary" ng-click="update(twitternal)">Actualizar</a>
</div>
